<main class="main">
  <div class="main_stat-cards">
    <app-stat-card label="NEOs Tracked" [value]="neosCount().toString()" [icon]="globeIcon" color="primary" />
    <app-stat-card
      label="Hazardous"
      [value]="hazardous().toString()"
      [icon]="alertTriangleIcon"
      [color]="hazardousColor"
    />
    <app-stat-card
      label="Closest Approach"
      [value]="closestDist().toString()"
      [icon]="crosshairIcon"
      color="caution"
    />
    <app-stat-card label="Avg Velocity" [value]="avgVelocity()" [icon]="zapIcon" color="safe" />
  </div>
  <div class="main_content">
    <div class="main_asteroid-table">
        <app-asteroid-table [asteroids]="websocketService.responses()"></app-asteroid-table>
    </div>
  </div>
</main>
